langchain
langgraph
sentence-transformers
chromadb
fastapi
uvicorn
python-dotenv
streamlit
pydantic
requests
transformers
torch
torchvision
Pillow
timm
accelerate
pytesseract
opencv-python
groq
dotenv
pypdf
python-multipart